*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    height: 150%;
    width: 100%;
    background: url(lambor\ pic.webp);
    background-position: center;
    background-size: auto;
    padding: 100px;
    margin: 100px;
    background-position: center;
    align-items: center;
    display: flex;
}



.login-wrapper{
    width: 400px;
    padding: 30px;
    border: 1px solid black;
    margin-left: -160px;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(8px);
    text-align: center;
    
}

form{
    display: flex;
    flex-direction: column;
}

form h2{
    font-size: 30px;
    margin-bottom: 10px;
}

.input-field{
    position: relative;
    border-bottom: 2px solid black;
    margin: 12px;
}

.input-field input{
    height: 40px;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: 1rem;

}

.input-field label{
    position: absolute;
    top: 40%;
    margin-left: -310px;
    transform: translateY(-50%);
    color: black;
    font-size: 1rem;
    pointer-events: none;
    transition: 0.3s ease;

}
    
.input-field input:focus ~ label,
.input-field input:valid ~ label {
    transform: translateY(-120%);
    font-size: 0.8rem;
    top: 10px;
}

.password-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0 35px 0;
    color: black;
    gap: 40px;
    width: 100%;
}

.password-option label {
    display: flex;
    align-items: center;
}

#remember {
    accent-color: white;
}

.password-option label p {
margin-left: 10px;
}

.login-wrapper a {
    text-decoration: none;
    color: black;
}

button{
    background: white;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 20px;
    border: 2px solid black;
    cursor: pointer;
    transition: 0.3 ease;
}

button:hover{
background: rgba(255, 255, 255, 0.6);
color: gray;
}

.account-option {
    text-align: center;
    color: black;
    margin-top: 4%;
}
